StrictHostKeyChecking no
CheckHostIP no
PasswordAuthentication no
Host bitbucket
  HostName bitbucket.org
  User hg
  IdentityFile ~/.ssh/hg_rsa
Host bitbucket.org
  HostName bitbucket.org
  User git
  IdentityFile ~/.ssh/hg_rsa
