#!/bin/bash

ldapsearch -LLL -x -h ldap00.use1.{{ldapvpc}}.ddc.io -b 'dc=doubledowncasino,dc=com' '(&(objectClass=posixAccount)(uid='"$1"'))' 'sshPublicKey' | perl -p00e 's/\r?\n //g' | awk '/sshPublicKey/ { print $2,$3,$4}'
