[defaults]
nocows = 1
hostfile = /etc/ansible/hosts
private_key_file = ~/.ssh/REPLACE_WITH_YOUR_OWN_KEY.pem
remote_user = root
host_key_checking=False
[ssh_connection]
pipelining=True                
