#install4j response file for Confluence 5.4.2
#Wed Feb 22 20:54:32 UTC 2017
rmiPort$Long={{ control_port }}
app.install.service$Boolean=true
sys.confirmedUpdateInstallationString=false
sys.languageId=en
sys.installationDir={{ mountpoint }}/confluence
app.confHome={{ mountpoint }}/confluence-data
executeLauncherAction$Boolean=true
httpPort$Long={{ http_port }}
portChoice=custom
