rmiPort$Long={{ control_port }}
app.jiraHome={{ mountpoint }}/jira-data
app.install.service$Boolean=true
sys.confirmedUpdateInstallationString=false
sys.languageId=en
sys.installationDir={{ mountpoint }}/jira
executeLauncherAction$Boolean=true
httpPort$Long={{ http_port }}
portChoice=default
