[icinga prod key]
access_key_id = "{{ icinga_prod_access_key_id }}"
secret_access_key = "{{ icinga_prod_secret_access_key }}"

[icinga nonprod key]
access_key_id = "{{ icinga_nonprod_access_key_id }}"
secret_access_key = "{{ icinga_nonprod_secret_access_key }}"